h1 {
    text-align: center;
    text-decoration: overline underline;
    color: blue;
    font-size: 30px;
    text-shadow: 0in;
  }

img{

    float: center;
    margin:0px;
    width:20ch;
}
p {
 font-size: 20px;
 font-style: normal;
 letter-spacing: 0vmin;

}
ul {
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0vmin;


}

title {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 0vmin;
    float: center;


}

a {
    float: center;
}